/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
@media (max-width: 639px) {
  .small-screen-top {
    top: 200px;
  }

  .small-screen-left {
    left: -11px;
  }
}

body {
  background-color: #112325;
}
